<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yufa.mymap">

    <!-- 高德地图 -->
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--Bmob -->
    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--mob 短信-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--mob share -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ssdk_oks_classic_qq"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup">
        <meta-data android:name="com.amap.api.v2.apikey" android:value="681de35e7c3ccc3df68da3aa058cdb24"/>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".UI.LoadingActivity"
            tools:ignore="InnerclassSeparator"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.LoginsActivity"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".UI.MainActivity"
            tools:ignore="InnerclassSeparator"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".UI.RegisterActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute"
            android:theme="@style/AppTheme"
            android:label="@string/register"
            android:parentActivityName=".UI.LoginsActivity"/>
        <activity android:name=".UI.SendActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute"
            android:theme="@style/AppTheme"
            android:label="@string/sendToUs"
            android:parentActivityName=".UI.MainActivity"/>
        <activity android:name=".UI.SettingActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute"
            android:theme="@style/AppTheme"
            android:label="@string/setting"
            android:parentActivityName=".UI.MainActivity"/>
        <activity android:name=".UI.UserInfoActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute"
            android:theme="@style/AppTheme"
            android:label="@string/userInfo"
            android:parentActivityName=".UI.MainActivity"/>
        <activity android:name=".UI.ShareActvity"
            tools:ignore="InnerclassSeparator,UnusedAttribute"
            android:theme="@style/AppTheme"
            android:label="@string/share"
            android:parentActivityName=".UI.MainActivity"/>
        <activity android:name=".UI.CommunityActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute"
            android:theme="@style/AppTheme"
            android:label="@string/aboutUs"
            android:parentActivityName=".UI.MainActivity"/>
        <activity android:name=".UI.FindActivity"
            android:theme="@style/AppTheme"
            android:label="@string/theme"
            android:parentActivityName=".UI.MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute" />
        <activity android:name=".UI.FriendInfo"
            android:label="好友信息"
            android:theme="@style/AppTheme"
            android:parentActivityName=".UI.MainActivity"
            tools:ignore="InnerclassSeparator,UnusedAttribute" />
        <service android:name="com.amap.api.location.APSService"/>

    </application>
</manifest>
